$tertiary: #1F3BB3;

.bg-tertiary {
  background-color: $tertiary;
}

a {
    text-decoration: none;
}

.loader {
  z-index: 99999;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin-left: -70px;
  margin-top: -70px;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000);
  background: rgba(0,0,0,0.6);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.rounded-4 { border-radius: .5rem; }
.rounded-5 { border-radius: .75rem; }
.rounded-6 { border-radius: 1rem; }
#sidebar a,
#sidebar a:hover,
#sidebar a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 0px;
    -moz-column-gap: 0px;
    column-gap: 0px;
    min-width: 250px;
    max-width: 250px;
    background: #fff;
    color: #495057;
    transition: all 0.3s;
    padding: 20px 0px;
}

#sidebar.active {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    background: #fff;
}

#sidebar.active .sidebar-header h3 {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 0.875em;
    font-weight: 400;
    line-height: 1.4;
    display: block;
}

#sidebar.active ul li a {
    padding: 15px 0;
    text-align: center;
    margin-bottom: 0;
}

#sidebar ul li a:hover {
    color: #1559cf;
    background: #CDCDCD;
}

#sidebar ul li a.active {
    color: #1559cf;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a,
#sidebar a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

#sidebar a[data-toggle="collapse"] {
    position: relative;
}

#sidebar.active ul li a span {
    display: none;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}
#sidebar ul.components li>a img {
    margin-bottom: 5px !important;
}

#sidebar.active ul.components li>a img {
    margin-bottom: 5px !important;
}
#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.2em;
}

#sidebar ul.components {
    padding: 0;
    /*border-bottom: 1px solid #47748b;*/
}

#sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#content {
    width: 100%;
    padding: 0;
    min-height: 100vh;
    transition: all 0.3s;
}

@media (max-width: 768px) {
    #sidebar {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebar.active {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        margin-left: 0 !important;
    }
    #sidebar.dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar .sidebar-header h3 {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 10px 10px;
    }
    #sidebar.active ul li a {
        padding: 15px 0;
        text-align: center;
        margin-bottom: 0;
    }
    #sidebar.active ul li a span {
        font-size: 0.875rem;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1rem;
    }
    #sidebarCollapse span {
        display: none;
    }
    #sidebar.active ul.components li>a img {
        margin-bottom: 5px !important;
    }
}
.error {
    color: #DF3B50;
    margin-top: 4px;
    font-size: 80%;
    display: block;
}
input.error {
    border: 1px solid #DF3B50;
    color: #DF3B50;
}
.error span {
    color: #DF3B50;
    margin-top: 4px;
    font-size: 80%;
    display: block;
}
svg{margin: 0 auto !important;}
.btn svg{margin-bottom: 3px !important;}
#sidebar svg{margin-bottom: 3px !important;}
#searchResult{
    position: absolute;
    z-index: 9999
}